*{
	font-family: 'Alegreya';
	box-sizing:border-box;
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
h2{
	padding-top: 3%;
	padding-bottom: 3%;
}
.showcase{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
.backgroundVideo{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	object-fit:cover;
	opacity: 1;
	z-index:-1;
	mix-blend-mode: screen;
}
.firstsite{
	width:100%;
	height:100%;
}
.sections{
	position:absolute;
	top: 100%;
}
header .logo > img{
	text-transform:uppercase;
	cursor:pointer;
	width:100%;
	min-width:50px;
	max-width:100px;
	height:100%;
}
header
{
  width: 100%;
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align:center;
}
.belsohiv{
  color:whitesmoke;
  padding:10px 10px;
  border-radius:25px;
    background:#3b5726;
	text-decoration:none;
	font-size:100%;
}
.text
{
	font-family: "Libre Baskerville";
    top: 35%;
    text-align: center;
    z-index: 10;
    color: whitesmoke;
    position: absolute;
    font-size: 5vw;
    width: 100%;
    text-decoration: none;
    transform: translateX(-50%);
    left: 50%;
}
.NowForm{
	text-transform: uppercase;
    color: whitesmoke;
    display: block;
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: #3b5726;
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.about{
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 8%;
    padding-top: 5%;
	justify-content: center;
	color:#3b5726;
    background-image:linear-gradient(#e3d3bb00, #E3D3BB, #E3D3BB, #E3D3BB, #E3D3BB, #E3D3BB);
}
.about > p > img{
	width: 50%;
	align-items: center;
	padding-top:inherit;
	float:right;
	margin:1%;
}
.Services{
	background-color:#3B5726;
	width:100%;
	padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 8%;
    padding-top: 5%;
	color:whitesmoke;
}
.FAQ{
	padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 8%;
    padding-top: 5%;
	justify-content: center;
	width:100%;
	background-color:#3b572678;
}
details > summary {
	padding: 10px;
    width: 75%;
	margin:3px;
	padding-left:5%;
    background-color: #3B5726;
    border: none;
    box-shadow: inset 0px 0px 20px 0px #14431a;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 44px;
}

details > p{
  background-color: #eeeeee;
  padding: 2% 10%;
  box-shadow: 1px 1px 2px #bbbbbb;
  border-radius: 44px;
  color:#3b5726;
}
.Repertoire{
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 8%;
    padding-top: 5%;
	display:flex;
	flex-direction:row;
	justify-content: center;
	color:whitesmoke;
	background-color:#e3d3bbb0;
}
.videos{
	display:flex;
	flex-direction:column;
	justify-content: center;
	color:whitesmoke;
}
.videos > video{
	width:50%;
	padding-top:20px;
}
.soundclouds > img{
	padding-bottom:20px;
}
.Enquire{
    padding-right: 8%;
    padding-left: 8%;
    padding-top: 5%;
	display:flex;
	flex-direction:column;
	justify-content: center;
	color:whitesmoke;
	background-color:#3b5726c9;
  font-size:18px;
  width:100%;
}
.label{
	  text-transform:uppercase;
	width:100%;
  color:whitesmoke;
  display:block;
  font-size:20px;
}
.input{
	width:100%;
  display:block;
	border:none;
  padding:15px 20px;
  border-radius:25px;
  background:rgb(255 255 255 / 69%);
  color:#3B5726;
  font-weight:bold;
}
.submit{
	  text-transform:uppercase;
width:100%;
  color:whitesmoke;
  display:block;
  border:none;
  padding:15px 20px;
  border-radius:25px;
    background:#3B5726;
}
div.polaroid {
  width: 35%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 3%;
  padding:1%;
  
}

div.container {
	color:#3B5726;
  text-align: center;
  padding: 10px 20px;
}
footer{
	text-align:center;
	background-color:gray;
	color:whitesmoke;
}

/*

<picture>
   <source 
      media="(orientation: landscape)"
      srcset="testlandscape.png">
   <source 
      media="(orientation: portrait)"
      srcset="testportrait.png">
      
 <img src="testlandscape.png" width="100%" height="auto">
</picture>

*/